<main class="container mt-5">
  <section id="job" class="bg-light">
    <%= form_for @job, :html => {:class => "company_info pt-3 px-3"}, :url => admin_company_jobs_path(@company) do |f| %>

      <div class="form-group mt-4">
        <%= f.label :title, "職缺名稱", class: "form-label  text-black-50 h4" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group mt-4">
        <%= f.label :description, "工作內容", class: "form-label  text-black-50 h4" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group mt-4">
        <%= f.label :requirements, "條件要求", class: "form-label  text-black-50 h4" %>
        <%= f.text_area :requirements, class: "form-control" %>
      </div>

      <div class="form-group mt-4">
        <%= f.label :compensation, "薪資範圍", class: "form-label  text-black-50 h4" %>
        <%= f.text_field :compensation, class: "form-control" %>
      </div>

      <div class="d-grid gap-2 col-2 mx-auto pt-3 px-3">
        <%= f.submit "存檔", class: "btn btn-primary mt-4" %>
      </div>
    <% end %>
  </section>
</main>